body {
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    align-items: center;
    background: #654ea3;
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
    background: linear-gradient(to right, #eaafc8, #654ea3);
    font-family: 'Trebuchet MS';
}

h1 {
    background: #773DBD;
    background: linear-gradient(to right, #773DBD 40%, #FF9E18 50%, #773DBD 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}

form{
    margin: 0 auto;
}

input {
    color: #773dbd;
    background: #ff9e18;
}

input.submit {
    background-image: linear-gradient(to right, #D38312 0%, #773DBD  51%, #D38312  100%);
    margin: 100px auto;
    width: 220px;
    display: grid;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}
input.submit:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
