<script>
    const NewCaso=Vue.component('nuevo-caso-component', {
       data: function () {
          return {
            data:{},
            message:{},
            isLoading:false,
            isVisible:false ,
            adjuntoSeleted:{}          
          }
        },
        created(){ 
          this.isLoading=true
            console.log(this.fila.value)
            google.script.run.withSuccessHandler((res)=>{
            this.data=JSON.parse(res,(key,value)=>key.includes('fecha')? new Date(value):value)  
            this.isLoading=false
            console.log(this.data)
          }).withFailureHandler().getDataById(this.fila.value)
        },
        methods:{
          mostrar(){          
                 
            
          },
   
          actualizarData:function(newData){
            this.data=JSON.parse(newData,(key,value)=>key.includes('fecha')? new Date(value):value)
            this.message=this.data.messages[0]    
          },
  
          volverAtras:function(){
            this.sub_route.actual=`/consulta`
          },
  
           formatFechaHora(fecha){
            let date = fecha?new Date(fecha):''   
            let inter = new Intl.DateTimeFormat('es-ES')
            return fecha ? inter.format(date):''
          }
  
  
        },     
  
        inject: ['fila','sub_route'], 
  
        template:`
        <div>
        <div v-if="isLoading" class="d-flex justify-content-center align-items-center" style="height:80vh;">
          <div class="spinner-grow bg-teja"></div>
        </div>
         
          <div v-if="!isLoading">
            <div class="border border-2 px-4 py-1 my-4">
          
              <div class="row   gap-1 my-sm-3 my-md-5 ">
          
                <div class="col-4 mb-sm-2 mb-md-1 row">
                  <label for="validationServer01" class="  col-md-4 col-lg-4  col-form-label text-end">ID Cliente</label>
                  <div class=" col-md-8 col-lg-8 ">
                    <input type="text" class="form-control" :value="data.customer_id" disabled>
                  </div>
                </div>
                <div class="col-4 mb-sm-2 mb-md-1 row">
                  <label for="validationServer01" class="col-md-4 col-lg-4  col-form-label text-end">N° Proceso</label>
                  <div class="col-md-8 col-lg-8 ">
                    <input type="text" class="form-control" :value="data.proceso" disabled>
                  </div>
                </div>
                <div class="col-4 mb-sm-2 mb-md-1 row">
                  <label for="validationServer01" class="col-md-4 col-lg-4  col-form-label text-end">Fecha envío</label>
                  <div class="col-md-8 col-lg-8 ">
                    <input type="text" class="form-control" :value="formatFechaHora(data.fecha)" disabled>
                  </div>
                </div>
                <div class="col-4 mb-sm-2 mb-md-1 row">
                  <label for="validationServer01" class="col-md-4 col-lg-4  col-form-label text-end">Error inicial</label>
                  <div class="col-md-8 col-lg-8 ">
                    <input type="text" class="form-control" :value="data.error_i" disabled>
                  </div>
                </div>
                <div class="col-4 mb-sm-2 mb-md-1 row">
                  <label for="validationServer01" class="col-md-4 col-lg-4  col-form-label text-end">Estado</label>
                  <div class="col-md-8 col-lg-8 ">
                    <span type="text" class="btn btn-danger disabled" >{{data.estado}}</span>
                  </div>
                </div>
     
          
              </div>
          
            </div>
          
            <fieldset class="px-3 my-4">
          
              <legend>
                <div class="d-flex justify-content-between">
                  <div class="d-flex gap-2">
                  <button class="btn btn-primary d-flex gap-2 bg-purple border-0" data-bs-toggle="modal" data-bs-target="#updateModal">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5" width="30px">
                    <path d="M5.433 13.917l1.262-3.155A4 4 0 017.58 9.42l6.92-6.918a2.121 2.121 0 013 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 01-.65-.65z" />
                    <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0010 3H4.75A2.75 2.75 0 002 5.75v9.5A2.75 2.75 0 004.75 18h9.5A2.75 2.75 0 0017 15.25V10a.75.75 0 00-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5z" />
                  </svg>
  
                  Agregar intento
                  </button>
                  <button class="btn btn-danger d-flex gap-3" @click="volverAtras">
                <span style="width:20px;">
                  <svg viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd" d="M7.793 2.232a.75.75 0 01-.025 1.06L3.622 7.25h10.003a5.375 5.375 0 010 10.75H10.75a.75.75 0 010-1.5h2.875a3.875 3.875 0 000-7.75H3.622l4.146 3.957a.75.75 0 01-1.036 1.085l-5.5-5.25a.75.75 0 010-1.085l5.5-5.25a.75.75 0 011.06.025z" clip-rule="evenodd"/>
                  </svg>
  
                </span>
                <span >Volver</span>
              </button>
                </div>
                </div>
              </legend>
            </fieldset>
            <update-state-component :inicial=true ></update-state-component>
          </div>
        </div>
        `  
    })
  
  </script>